{% extends 'base.html' %}
{% block head %}
<title>Confirmation</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/confirmation.css') }}">
{% endblock %}
{% block body %}
{% if flag=="C" %}
    <h1>Food Created</h1>
{% elif flag=="D" %}
    <h1>Food Deleted</h1>
{% elif flag=="U" %}
    <h1>Food Updated</h1>
{% endif %}
<div class="links">
    <a href="{{ url_for('foods') }}">View all foods</a> 
    <a href="{{ url_for('home') }}">Go to home page</a>
</div>
{% endblock %}